<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
        <title>{% block title %}Projet Bus{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
        {% block stylesheets %}
        {% endblock %}
        <style>
            span.icon-bus {
                background-image: url("/images/bus.png");
            }
            span.icon-noctilien {
                background-image: url("/images/noctilien.png");
            }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card warning fluid">
                        <h4 style="text-align: center"><span class="icon-alert"></span> Version preuve de concept <span class="icon-alert"></span></h4>
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        <footer>
            <p>Pierre LAURENT (pierre.laurent@telecom-sudparis.eu) • février 2025</p>
        </footer>
    </body>
</html>
